<template name="home">
	{{> navbar}}
  <body>
  <div style="margin-top:50px" >
    {{> status}}
  </div>
    {{> cards id="root"}}
  </body>
</template>
<template name="navbar">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="col-xs-12">
      <a href="/home" class="pull-left" style="text-decoration:none;"><h1 id="logo">CardFlow.com</h1></a>
      <div class="nav navbar-nav navbar-right pull-right" style="margin-right:10px;margin-top:13px;">
          <i style="color:#bbb;cursor:pointer;vertical-align:-44%;font-size:1.6em" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle fa fa-cog fa-lg" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" role="menu">
            {{#if isAdmin}}
              <li><a href="/admin">Admin</a></li>
              <li class="divider"></li>
            {{/if}}
            <li><a href="/account">Account</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
      </div>
    </div>
  </nav>
</template>