<template name="home">
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <h1 id="logo">cardflow.io</h1>
      </div>
      <div id="navbar" class="navbar-collapse collapse" style="margin-right:10px;">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i style="color:#aaa" class="fa fa-cog fa-lg"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/logout">Logout</a></li>
              <li class="divider"></li>
              <li><a href="#">Search</a></li>
              <li class="divider"></li>
              <li><a href="#">Add new</a></li>
              <li class="divider"></li>
              <li><a href="#">Total cards:5686</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
  </nav>
  <body>
    {{> cards}}
  </body>
</template>