.card-input{
	width:300px;
	border-radius:0px;
	border: 0px;
	background: transparent;
	margin:7px 3px;
}
.cards-container{
	margin-top:60px;
	margin-left: 10px;
	margin-right: 10px;
}
.cards-list{
	width: 315px;
  	float: left;
  	margin: 0px;
  	padding: 0px;
}