.card{
  width: 312px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  background: #fff;
  margin:0px 0px 2px 0px;
  display: block;
  height: 34px;
  border: 1px solid #f6f6f6 !important;
}
.card-input{
  width:86%;
  padding: 8px 0px 5px 0px;
  border-radius:0px;
  outline: none;
  border: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.cards-container{
  margin-top:60px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100000px; 
}
.cards-list{
  position: relative;
  width: 314px;
    float: left;
    margin: 0px;
    padding: 0px;
}

.addCardButton{
  outline: none;
  border: 1px solid #f6f6f6;
  margin-top: 0px;
  width: 312px;
  background-color: #fff;
  display: inline-block;
  cursor: pointer;
  color: #777;
  font-size: 12px;
  padding: 6px 14px 4px 14px;
  text-decoration: none;
  margin-right: 2px;
  height: 34px;
}
.sort {
  color: #DDD;
  float: left;
    padding-top: 7px;
  padding-left: 2px;
  width: 14px;
  font-size: 1.33em;
}