<template name="cards">
<div class="cards-container">
	<div class="cards-list">
		{{#each usercards}}
		 <div class="card parent-card-div">
	       <input type="text" id="{{_id}}" class="card-input inputtitle"  autocapitalize="none" autocorrect="off" value="{{cardTitle}}" style="{{#if is_selected}}background:lightyellow;{{/if}}">
	        {{#if has_children}}
	        <i style="font-size: 6px;float:right;margin-top:12px;margin-right:10px;color:#EEE" class="fa fa-circle fa-sm yellow"></i>
	        {{/if}}
	      </div>
		
		{{/each}}
		<input type="button" class="addCardButton" id="createRootCard" value="Add">
	</div>
	<div class="childcards-container">

	</div>
</div>
</template>
<template name="childcardstmpl">
	<div class="cards-list child-cards-list">
		{{#each allchildcards}}
		<div class="card child-card-div">
			<input type="text" id="{{_id}}" class="card-input childtitle {{parent_id}}"  autocapitalize="none" autocorrect="off" value="{{cardTitle}}" style="{{#if is_selected}}background:lightyellow;{{/if}}">
		 	{{#if has_children}}
	       	 <i style="font-size: 6px;float:right;margin-top:12px;margin-right:10px;color:#EEE" class="fa fa-circle fa-sm yellow"></i>
	        {{/if}}
	      </div>
		{{/each}}
		<input type="button" class="addCardButton createSiblingCard" value="Add">
	</div>
</template>