<template name="signin">
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12" style="">
			<center><h1 class="brand-heading" style="font-size:48px;font-weight:bold;color:grey;">CardFlow.com</h1></center>
			<center><h4>A new way to save notes. Hundreds, thousands or even millions of them.</h4></center><br>
			<div class="row" style="position:relative;">
				<div class="col-md-8 col-md-offset-2 cards-area" style="height:300px;border:1px solid;">
					<!-- <div class="demo-list">
						<input type="text" class="demo-input" id="demo-parent1">
						<input type="text" class="demo-input" id="demo-parent4">
					</div>
					<div class="demo-list">
						<input type="text" class="demo-input" id="demo-parent2">
						<input type="text" class="demo-input" id="demo-parent3">
					</div> -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-3 col-md-6" style="margin-top:5px;">
					<a href="/login" class="btn btn-warning btn-lg btn-block"> Login / Register</a>
					<center><h5 style="margin:10px 0;"><strong>or</strong></h5></center>
					<a href="/demo" class="btn btn-success btn-lg btn-block"> Try the app before you register </a>
				</div>		
			</div>
        </div>
    </div>
</div>
</template>