<template name="signin">
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12" style="margin-top:2%;">
			<center><h1 class="brand-heading" style="font-size:48px;color:grey;">CardFlow.com</h1></center>
			<center><h4 style="color:grey;">All your notes, tasks and projects at one place.</h4></center><br>
			<div class="row" style="position:relative;">
				<div class="col-md-12 cards-area" style="">
					<video controls style="width:100%;border: 1px solid #aaa;" poster="/img.png" preload="false">
					  	<source src="/cardflow.mp4" type="video/mp4">
					  	Your browser does not support the video tag.
					</video>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-4 col-md-4" style="margin-top:20px;">
					<a style="border-radius:0px" href="/login" class="btn btn-primary btn-lg btn-block"> Login / Register</a>
					<center><h5 style="margin:10px 0;"><strong>or</strong></h5></center>
					<a style="border-radius:0px" href="/demo" class="btn btn-success btn-lg btn-block"> Try the demo </a>
				</div>		
			</div>
        </div>
    </div>
</div>
</template>