<template name="signin">
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12" style="margin-top:10%;">
			<center><h1 class="brand-heading" style="font-size:48px;color:grey;">CardFlow.com</h1></center>
			<center><h4 style="color:grey;">A new way to manage all your notes/ideas/to do lists/projects/tasks/thoughts</h4></center><br>
			<div class="row" style="position:relative;">
				<div class="col-md-8 col-md-offset-2 cards-area" style="height:300px;">
					<video controls style="width:100%;height:300px;border: 1px solid;" preload="false">
					  	<source src="/cardflow.mp4" type="video/mp4">
					  	Your browser does not support the video tag.
					</video>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-3 col-md-6" style="margin-top:5px;">
					<a style="border-radius:0px" href="/login" class="btn btn-warning btn-lg btn-block"> Login / Register</a>
					<center><h5 style="margin:10px 0;"><strong>or</strong></h5></center>
					<a style="border-radius:0px" href="/demo" class="btn btn-success btn-lg btn-block"> Try the app before you register </a>
				</div>		
			</div>
        </div>
    </div>
</div>
</template>