<template name="signin">
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12" style="margin-top:10%;">
			<!-- {{> atForm}} -->
			<center><h1 class="brand-heading" style="font-size:48px;font-weight:bold;color:grey;">CardFlow.com</h1></center>
			<center><h4>A new way to save notes. Hundreds, thousands or even millions of them.</h4></center><br>
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<a href="/login" class="btn btn-warning btn-lg btn-block"> Login / Register</a>
					<center><h5 style="margin:10px 0;"><strong>or</strong></h5></center>
					<a href="/demo" class="btn btn-success btn-lg btn-block"> Try the app before you register </a>
				</div>		
			</div>
        </div>
    </div>
</div>
</template>
