.profile 
{
  display: inline-block;
  word-break: break-word;
}
figcaption.ratings
{
  margin-top:20px;
}
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
.row-centered {
    text-align:center;
}

.pad-l-0{
    padding-left: 0 !important;
}